<template>
  <div class="login_cart">
    <div class="container">
        <div class="row row_login_cart">
            <div class="col-11 col-sm-11 col-md-10 col-lg-8 col-xl-8 mx-2 cart_img">
                <img src="@/assets/cart1.png" alt="png">
            </div>
            <div class="col-9 col-sm-9 col-md-7 col-lg-5 col-xl-4">
                <div class="form_box">
                    <b-form @submit.prevent="LoginFunk" class="w-100">
                        <div class="form_in">
                            <div class="form_head">
                                <h2>Регистрация</h2>
                            </div>
                            <!-- User name -->
                            <div class="boxx">
                                <label class="title" for="user_name">ФИО</label>
                                <b-form-input
                                class="inputt"
                                id="user_name"
                                required
                                v-model="user_name"
                                />
                            </div>
                            <!-- Organisation -->
                            <div class="boxx">
                                <label class="title" for="organisation">Организация</label>
                                <b-form-input
                                class="inputt"
                                id="organisation"
                                required
                                v-model="Organisation"
                                />
                            </div>
                            <!-- User Position -->
                            <div class="boxx">
                                <label class="title" for="Position">Позиция</label>
                                <b-form-input
                                class="inputt"
                                id="Position"
                                required
                                v-model="position"
                                />
                            </div>

                            <!-- Email -->
                            <div class="boxx">
                                <label class="title" for="organisation">Эл. адрес</label>
                                <b-form-input
                                class="inputt"
                                type="email"
                                id="organisation"
                                required
                                v-model="user_email"
                                />
                            </div>

                            <!-- Btn box -->
                            <div class="btn_box">
                                <button class="btn_box" type="submit">Сохранить</button>        
                            </div>
                        </div>
                    </b-form>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import {
    BTable,
    BRow,
    BCol,
    BPagination,
    BImg,
    BButton,
    BIcon,
    BOverlay,
    BFormGroup,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
} from "bootstrap-vue";
export default {
components: {
      // ToastificationContent,
      BTable,
      BRow,
      BCol,
      BIcon,
      BPagination,
      BImg,
      BButton,
      BOverlay,
      BFormGroup,
      BInputGroup,
      BFormInput,
      BInputGroupAppend,
},
data(){
    return{
        user_name:"",
        position:"",
        Organisation:"",
        file:null,
        user_email:"",
    }
},
methods:{
    async LoginFunk() {
            console.log("function is working")
            this.$router.push('/sobity')
            // const form = new FormData();
            // form.append("name", this.title_ru);
            // form.append("name_uz", this.title_uz);
            // form.append("name_ru", this.title_ru);
            // form.append("name_en", this.title_en);

            // form.append("code", this.code);

            // if (this.changed) {
            //     form.append("image", this.imageFile);
            //     this.changed = false;
            // }

            // const access = localStorage.getItem("access");
            // const params = {
            //     headers: {
            //         "Accept-Language": "ru",
            //         Authorization: `Bearer ${access}`,
            //     },
            // };
            // await axios
            //     .post(`${this.$baseUrl}/product/category/`, form, params)
            //     .then(() => {
            //         this.$router.push({ name: "drug-categories" });

            //         this.$toast({
            //             component: ToastificationContent,
            //             position: "top-right",
            //             props: {
            //                 title: "Add New Drug Store!",
            //                 icon: "CheckCircleIcon",
            //                 variant: "success",
            //             },
            //         });
            //     })
            //     .catch(() => {
            //         this.$toast({
            //             component: ToastificationContent,
            //             position: "top-right",
            //             props: {
            //                 title: "Something is wrong :(",
            //                 icon: "AlertCircleIcon",
            //                 variant: "warning",
            //             },
            //         });
            //     });
        
    },
}
}
</script>

<style scoped lang="scss">
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

</style>