<template>
  <div class="Main" style="overflow-y:scroll">
    <div class="tableOne">
        <div class="search_and_profil">

          <div class="input_search">
            <label for="inputt" class="iconn">
              <b-icon class="icon" icon="search" style="width: 20px; height: 20px;"></b-icon>
            </label>
            <div class="input_box">
              <input class="imput_in" type="search" id="inputt" placeholder="Поиск">
            </div>
          </div>

          <div class="profile_box">
            <div class="cercle">
              <b-icon icon="circle-fill" animation="throb" font-scale="2" style="width: 20px; height: 20px;"></b-icon>
            </div>
            <div class="title">
              <h4>Admin</h4>
            </div>
            <div class="chevron">
              <b-icon icon="chevron-down" style="width: 15px; height: 15px;"></b-icon>
            </div>
          </div>

        </div>

        <div class="title_boxx">
          <div>
            <h2>Шаблон бейджика</h2>
          </div>
          <div>
            <button><span><b-icon class="icon" icon="plus" style="width: 20px; height: 20px; "></b-icon></span>Загрузить Шаблон</button>
          </div>
        </div>

        <div class="table_box shablon_in">
          <div class="table_title">
            <h3>Шаблон</h3>
          </div>
          <div class="Form_box">
            <div class="form_box">
                <b-form @submit.prevent="AddUserCard" class="w-100">
                    <div class="form_in">

                        <!-- User name -->
                        <div class="boxx">
                            <label class="title" for="user_name">ФИО</label>
                            <b-form-input
                            class="inputt"
                            id="user_name"
                            required
                            v-model="user_name"
                            />
                        </div>

                        <!-- User Position -->
                        <div class="boxx">
                            <label class="title" for="Position">Позиция</label>
                            <b-form-input
                            class="inputt"
                            id="Position"
                            required
                            v-model="position"
                            />
                        </div>

                        <!-- Organisation -->
                        <div class="boxx">
                            <label class="title" for="organisation">Организация</label>
                            <b-form-input
                            class="inputt"
                            id="organisation"
                            required
                            v-model="Organisation"
                            />
                        </div>

                        <!-- Save File -->
                        <div class="boxx">
                            <div class="title">Организация</div>
                            <label for="file" class="file">
                                <div class="icon">
                                    <b-icon icon="upload"  style="width: 25px; height: 25px; color:#999999"></b-icon>
                                    
                                </div>
                                <div class="icon">
                                    <h4>
                                        Перетащите сюда <br>или
                                    </h4>
                                </div>
                                <div class="icon">
                                    <div class="link" >Загружаете Файл</div>
                                    <b-form-file
                                    id="file" class="file_save"
                                    @change="onFileChange"
                                    v-model="file"
                                    required
                                    />
                                </div>

                            </label>
                            <!-- <b-form-input
                            class="inputt"
                            id="file"
                            required
                            v-model="Organisation"
                            /> -->
                        </div>

                        <!-- Btn box -->
                        <div class="btn_box">
                            <button class="btn_box" type="submit">Сохранить</button>        
                        </div>
                    </div>
                </b-form>
            </div>
            <div class="form_cart">
                <img src="@/assets/catr.png">
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
// import {mapMutations, mapGetters, mapState} from 'vuex';
import {
    BTable,
    BRow,
    BCol,
    BPagination,
    BImg,
    BButton,
    BIcon,
    BOverlay,
    BFormGroup,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
} from "bootstrap-vue";
export default {
  components: {
      // ToastificationContent,
      BTable,
      BRow,
      BCol,
      BIcon,
      BPagination,
      BImg,
      BButton,
      BOverlay,
      BFormGroup,
      BInputGroup,
      BFormInput,
      BInputGroupAppend,
  },
  data() {
    return {
    user_name:"",
    position:"",
    Organisation:"",
    file:null,

     
    };
  },
  computed: {
    
      
  },
  watch: {
       
  },
  mounted() {

  },
  methods: {
    onFileChange(e) {
        console.log("Jamshid qara",e)
        console.log("this.file",this.file)
    //   const file = e.target.files[0];
    },
    async AddUserCard() {
            console.log("function is working")

            // const form = new FormData();
            // form.append("name", this.title_ru);
            // form.append("name_uz", this.title_uz);
            // form.append("name_ru", this.title_ru);
            // form.append("name_en", this.title_en);

            // form.append("code", this.code);

            // if (this.changed) {
            //     form.append("image", this.imageFile);
            //     this.changed = false;
            // }

            // const access = localStorage.getItem("access");
            // const params = {
            //     headers: {
            //         "Accept-Language": "ru",
            //         Authorization: `Bearer ${access}`,
            //     },
            // };
            // await axios
            //     .post(`${this.$baseUrl}/product/category/`, form, params)
            //     .then(() => {
            //         this.$router.push({ name: "drug-categories" });

            //         this.$toast({
            //             component: ToastificationContent,
            //             position: "top-right",
            //             props: {
            //                 title: "Add New Drug Store!",
            //                 icon: "CheckCircleIcon",
            //                 variant: "success",
            //             },
            //         });
            //     })
            //     .catch(() => {
            //         this.$toast({
            //             component: ToastificationContent,
            //             position: "top-right",
            //             props: {
            //                 title: "Something is wrong :(",
            //                 icon: "AlertCircleIcon",
            //                 variant: "warning",
            //             },
            //         });
            //     });
        
    },
  
  }
};
</script>

<style scoped lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Main {
  height: 100vh;
  width: 100%;
  background: #F8F7FF;
}


</style>