<template>
  <div class="Main" style="overflow-y:scroll">
    <div class="tableOne">
        <div class="search_and_profil">

          <div class="input_search">
            <label for="inputt" class="iconn">
              <b-icon class="icon" icon="search" style="width: 20px; height: 20px;"></b-icon>
            </label>
            <div class="input_box">
              <input class="imput_in" type="search" id="inputt" v-model="filter" placeholder="Поиск">
            </div>
          </div>

          <div class="profile_box">
            <div class="cercle">
              <b-icon icon="circle-fill" animation="throb" font-scale="2" style="width: 20px; height: 20px;"></b-icon>
            </div>
            <div class="title">
              <h4>Admin</h4>
            </div>
            <div class="chevron">
              <b-icon icon="chevron-down" style="width: 15px; height: 15px;"></b-icon>
            </div>
          </div>

        </div>

        <div class="title_boxx">
          <div>
            <h2>События</h2>
          </div>
          <div>
            <button><span><b-icon class="icon" icon="plus" style="width: 20px; height: 20px; "></b-icon></span> Создать События</button>
          </div>
        </div>

        <div class="table_box">
          <div class="table_title">
            <h3>Текущие События</h3>
          </div>
          <b-table class="table_in" :table-variant="tableVariant"
           show-empty :items="items" :fields="fields" :per-page="perPage" :current-page="currentPage"
          :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection" :filter="filter"
          :filter-included-fields="filterOn" @filtered="onFiltered" striped responsive>
            <template  #cell(cercle)>
              <div class="c">
                <b-icon icon="circle-fill"  style="width: 20px; height: 20px; color:#999999"></b-icon>
              </div>
            </template>
            <template #cell(title)="data">
                <div>
                    {{ data.item.title }}
                </div>
            </template>
          </b-table>
          <b-overlay :show="busy" no-wrap></b-overlay>

          <div class="box_pagination" v-if="!busy">
            <b-pagination v-model="currentPage" :per-page="perPage" align="center" size="md" class="my-2 active"
            style="border:1px solid #dee2e6;"
            :total-rows="totalRows" />
          </div>
        </div>
    </div>
  </div>
</template>

<script>
// import {mapMutations, mapGetters, mapState} from 'vuex';
import {
    BTable,
    BRow,
    BCol,
    BPagination,
    BImg,
    BButton,
    BIcon,
    BOverlay,
    BFormGroup,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,
} from "bootstrap-vue";
export default {
  components: {
      // ToastificationContent,
      BTable,
      BRow,
      BCol,
      BIcon,
      BPagination,
      BImg,
      BButton,
      BOverlay,
      BFormGroup,
      BInputGroup,
      BFormInput,
      BInputGroupAppend,
  },
  data() {
    return {
      tableVariant:"light",
      color:"#354B9C",
      selectedCategory: {},
      busy: true,
      items: [],
      itemss: [

          {
              id: 1,
              name: "KFEWF",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:3000,
              no:24,
              res:3023,
              data:"05/18/2022",

          },
          {
              id: 2,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022",

          },
          {
              id: 3,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022",

          },
          {
              id: 4,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022",

          },
          {
              id: 5,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022"

          },
          {
              id: 6,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022"
          },
          {
              id: 7,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022"
          },
          {
              id: 8,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022"
          },
          {
              id: 9,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022"
          },
          {
              id: 10,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022"
          },
          {
              id: 11,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022"
          },
          {
              id: 12,
              name: "TIIFT",
              kod: "UEWFKWEJF",
              condition:"Предстоящий",
              yes:2000,
              no:24,
              res:3023,
              data:"05/18/2022"
          },
      ],
      fields: [
          {
            key:"cercle",
            label: "",
            class:"text-end"

          },
          {
              key: "name",
              label: "Название",
              class:"text-start"

              // sortable: true,
          },
          {
              key: "kod",
              label: "Код",
              // sortable: true,
          },
          {
              key: "condition",
              label: "Статус События ",
              // sortable: true,
          },
          {
              key: "yes",
              label: "Да",
              // sortable: true,
          },
          {
              key: "no",
              label: "Нет",
              // sortable: true,
          },
          {
              key: "res",
              label: "Заявки ",
              // sortable: true,
          },
          {
              key: "data",
              label: "Дата Начала",
              // class: "text-center"
          },
      ],
      currentPage: 1,
      perPage: 7,
      totalItems: 1,
      active:true,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      totalRows: 1,
    };
  },
  computed: {
    
      
  },
  watch: {
        currentPage: {
            handler() {
                this.fetchData();
            },
        },
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    fetchData() {
      
      const params = {
          params: {
              limit: this.perPage,
              offset: this.perPage * (this.currentPage - 1),
          },
      };
      this.items = this.itemss
      // await axios.get(`${this.$baseUrl}/user/profile`).then((res) => {
      //   this.busy = false;
      //   this.items = res.data;
      //   console.log("Jamshid Qara",this.items)
      // });
      this.totalRows = this.items.length;
      this.busy = false;
    },
  }
};
</script>

<style scoped lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Main {
  height: 100vh;
  width: 100%;
  background: #F8F7FF;
}


</style>