<template>
  <div class="user_box" @click="show_hede1">
    <div class="lang_header">
      <div class="logo_globus">
        <h3>{{selected_data}}</h3>
      </div>
      <div class="chevron_dovn">
        <b-icon icon="chevron-down" style="width: 15px; height: 15px;"></b-icon>
      </div>
    </div>

    <div class="dropDownOne" v-if="show_hide1">
      <div
        class="w-100 sub_box"
        v-for="(item, i) in category"
        :key="i"
        @click="setCategory(item)"
      >
        <div class="box_title">
          <span class="country_name">{{ item.name }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BRow, BIcon, BCol, BFormGroup, BCard } from "bootstrap-vue";
export default {
  components: {
    BRow,
    BCard,
    BCol,
    BIcon,
    BFormGroup,
  },
  data() {
    return {
      show_hide1: false,
      selected_data:"",
      category: [
        {
          id: 1,
          name: "Last day",
        },
        {
          id: 2,
          name: "Last week",
        },
        {
          id: 3,
          name: "Last month",
        },
      ],
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    show_hede1() {
      this.show_hide1 = !this.show_hide1;
      this.num = 0;
      document.addEventListener("click", this.add_fun);
    },
    add_fun(e) {
      if (this.num != 0) {
        if (e.target.closest(".dropDownOne")) return;
        this.show_hide1 = false;
        document.removeEventListener("click", this.add_fun);
      }
      this.num++;
    },

    getData() {
      this.selected_data = this.category[0].name;
    },
    setCategory(item) {
      this.selected_data=item.name
    },
  },
};
</script>

<style lang="scss" scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
