$blackk: #16191b;
$dropdown-box-shadoww: 0 5px 25px 0 rgba($blackk, 0.8) !default;
.user_box {
    position: relative;
    transition: 0.4s ease all;
    .lang_header {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid #999999;
        padding: 7.5px;
        border-radius: 10px;
        min-width: 130px;
        .logo_globus{
            h3{
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                color: #999999;
            }
        }
        .chevron_dovn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 10px;

            &:hover {
                color: #244a91 !important;
            }
        }

    }

    .dropDownOne {
        position: absolute;
        top: calc(100% + 10px);
        transform: translateX(-20px);
        width: 150px;
        border-radius: 5px;
        background: #F8F7FF;
        box-shadow: $dropdown-box-shadoww;
        z-index: 10000 !important;
        cursor: pointer;

        .sub_box {
            margin: 4px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px 4px;
            .boxx {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 10px;
            }

            .box_title {
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 16px;
                }
            }

            &:hover {
                background: #fff;
                .box_title {
                    span {
                        color: #244a91 !important;
                    }
                }
            }
        }
    }
}

// @media screen and (max-device-width:575px) {
//     .user_box {
//         .dropDownOne {
//             transform: translateX(-35px);
//         }
//     }

//     .globus_flag {
//         display: none !important;
//     }
// }