.login_cart{
    width: 100%;
    height: 100vh;
    box-sizing: border-box !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .container{
        .row_login_cart{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .cart_img{
                padding: 40px 0;
                img {
                    border: none;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .form_box {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                background: #fff;
                padding: 30px;
                border-radius: 10px;
                box-shadow: $dropdown-box-shadoww;
                .form_in {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    .form_head{
                        width: 100%;
                        margin-bottom: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        h2{
                            font-size: 30px;
                            line-height: 30px;
                            padding: 0;
                            text-align: center;
                            color: black;
                            font-weight: 500;
                        }

                    }
                    .boxx {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        margin-bottom: 15px;

                        .title {
                            width: 100%;
                            text-align: start;
                            font-size: 18px;
                            font-weight: 500;
                            padding: 5px 2px;
                            color: #676D7C;
                        }

                        .inputt {
                            width: 100%;
                            line-height: 20px !important;
                            font-size: 16px !important;
                            color: #676D7C;
                            padding: 22px !important;
                            border-radius: 15px;
                        }
                    }

                    .btn_box {
                        margin-top: 10px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        button {
                            background: #354B9C;
                            color: #fff;
                            font-size: 16px;
                            line-height: 20px;
                            padding: 12px 20px;
                            border: none;
                            outline: none;
                            border-radius: 10px;
                        }

                    }

                }
            }
            
        }
    }
}