.form_settengs{
    width: 40% !important;
    .formIn{
        width: 90% !important;
    }
}
.cart_settings{
    width: 60% !important;
    flex-direction: column !important;
    img {
        padding-top: 5px;
        width: 100%;
        height: auto;
        border: none;
        object-fit: cover;
    }
    .copy_link{
        margin-top: 20px;
        width: 100%;
        border-radius: 15px;
        background: #F8F7FF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        box-shadow: $dropdown-box-shadoww;
        .input_box{
            width: 75%;
            border-radius: 15px 0 0 15px;
            input{
                width: 100%;
                font-size: 18px;
                line-height: 20px;
                background: transparent;
                color: #676D7C;
                border: none;
                outline: none;
                border-radius: 15px 0 0 15px;
                padding-left: 10px;
            }
        }
        .btns{
            width: 100%;
            width: 25%;
            border-radius: 0 15px 15px 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .btn_one{
                background: #95A7E8;
                color: #fff;
                font-size: 16px;
                line-height: 20px;
                padding: 10px 20px;
                outline: none;
                border: none;
                border-radius: 15px;
            }
            .btn_two{
                background: #34C38F;
                color: #fff;
                font-size: 16px;
                line-height: 20px;
                padding: 10px 20px;
                outline: none;
                border: none;
                border-radius: 15px;
            }
        }
    }
}