.shablon_in{
    padding: 30px 40px !important;
}
.Form_box{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .form_box{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .form_in{
            width: 60%;
            // padding: 20px;
            height: 580px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            .boxx{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 15px;
                .title{
                    width: 100%;
                    text-align: start;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 5px 2px;
                    color: #676D7C;
                }
                .inputt{
                    width: 100%;
                    line-height: 20px !important;
                    font-size: 16px !important;
                    color: #676D7C;
                    padding: 22px !important;
                    border-radius: 15px;
                }
                .file{
                    width: 100%;
                    border: 2px dashed #676D7C;
                    min-height: 140px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .icon{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 8px;
                    }
                    h4{
                        text-align: center;
                        color: #676D7C;
                        font-size: 18px;
                        line-height: 20px;
                    }
                    .file_save{
                        display: none;
                    }
                    .link{
                        cursor: pointer;
                        font: 18px;
                        line-height: 20px;
                        color: #2A6DD9;
                    }
                }
                
            }
            .btn_box {
                margin-top: 10px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                    background: #354B9C;
                    color: #fff;
                    font-size: 16px;
                    line-height: 20px;
                    padding: 12px 20px;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                }

            }
            
        }
    }
    .form_cart{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img{
            border: none;
            max-height: 580px;
            object-fit: cover;
        }

    }
}