.tableOne {
    padding: 40px 30px !important;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    .search_and_profil {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .input_search {
            box-shadow: $dropdown-box-shadoww;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            .iconn {
                width: 10%;
                border-radius: 15px 0 0 15px;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px 0;
                cursor: pointer;

            }
            .input_box {
                width: 90%;
                background: #fff;
                border-radius: 0 15px 15px 0;

                .imput_in {
                    border-radius: 0 15px 15px 0;
                    border: none;
                    outline: none;
                    padding: 15px 15px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #999999;
                    width: 100%;
                }
            }

        }

        // Profile box
        .profile_box {
            box-shadow: $dropdown-box-shadoww;
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 15px;
            cursor: pointer;
            .cercle {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                padding: 15px 0;
                border-radius: 15px 0 0 15px;
            }
            .title {
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 15px 5px;

                h4 {
                    font-size: 16px;
                    color: #999999;
                    font-weight: 400;
                    line-height: 20px;
                    padding: 0;
                }
            }
            .chevron {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 15px 15px 0;
                padding: 15px 5px;
            }

        }
    }

    .title_boxx {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px 0;

        h2 {
            padding: 0;
            font-size: 30px;
            font-weight: 500;
            color: #676D7C;

        }
        button {
            border: none;
            outline: none;
            padding: 10px 20px;
            background: #354B9C;
            color: #fff;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 20px;
            font-weight: 500;
            font-size: 16px;
        }
    }

    .table_box {
        width: 100%;
        background: #fff;
        border-radius: 15px;
        padding: 30px 30px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        .table_title {
            h3 {
                padding: 0;
                font-size: 20px;
                font-weight: 500;
                color: #676D7C;
            }

            margin-bottom: 25px;
        }
        .table_in{
            border-radius: 15px;
           .boks{
            display: flex;
            align-items: center;
            justify-content: flex-end;
           } 
        }
        .box_pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

    }

}