.double_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    .print {
        margin-right: 20px;

        button {
            padding: 10.5px 20px;

            .download {
                margin-right: 10px;
            }
        }
    }
}

.with_category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .category_drop {
        border-radius: 10px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

.boxx {
    display: flex;
    align-items: center;
    justify-content: center;

    .edit_box {
        background: #95A7E8;
        border-radius: 5px;
        padding: 5px 15px;
        margin-right: 10px;
        
    }
    .btn-icon{
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
        border: none;
        outline: none;
        
    }
}