<template>
  <div class="main">
    <div>
        <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.main{
    height: 100vh;
    background: #F8F7FF;
    
}
</style>