<template>
  <div>
    <div class="d-flex allContent">
      <div class=" border-right" :class="{'leftmenu': show_title, 'backleftmenu': !show_title }">
        <!-- Logo box -->
        <div class="main_boxx pb-1 pt-1 mb-2">
          <div class="logo_chevron" v-if="show_title">
            <!-- Chevron icon -->
            <svg @click="backMenu(!show_title)" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left leftdown visitkaShow" style="cursor:pointer; font-weight:600" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="#354B9C" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <polyline points="15 6 9 12 15 18" />
            </svg>
            <!-- Logo img -->
            <div class="company_title">
              <img src="@/assets/mainLogo.svg">
            </div>
          </div>
          <!-- Menyu Icon -->
          <svg v-else xmlns="http://www.w3.org/2000/svg" @click="backMenu(!show_title)" class="icon icon-tabler icon-tabler-menu-2 backleftdown" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#354B9C" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="4" y1="6" x2="20" y2="6" />
            <line x1="4" y1="12" x2="20" y2="12" />
            <line x1="4" y1="18" x2="20" y2="18" />
          </svg>
        </div>
        <!-- Menyu box -->
        <div :class="{'Menyu_box': show_title, 'Menyu_box1': !show_title }" v-for="(link,index) in links" :key="index" >
          <div class="menyu_inbox" @click="update_down(index)">
            <router-link
            tag="li" custom v-slot="{ navigate }"
            :to="link.url"
            :class="{'active_link': link.view}"
            >
            <li @click="navigate" role="link" :class="{'menuitem': show_title, 'menuitem1': !show_title }">
              <div  :class="{'width1': show_title, 'width2': !show_title }">
                <mdb-icon :style="{color: link.color}" :class="{'ico': show_title, 'backico': !show_title }" :icon="link.icon" />
              </div>
              <div v-if="show_title" class="d-flex justify-content-between" style="width:85%; text-align:left">
                <p class="m-0">{{link.title}}</p>
                <!-- <svg v-if="link.down_list.length!=0" :class="{round:link.view}" xmlns="http://www.w3.org/2000/svg" class="icon mr-3 icon-tabler icon-tabler-chevron-right" style="margin-top: 3.5px;" width="13" height="13" viewBox="0 0 24 24" stroke-width="2" stroke="#999" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <polyline points="9 6 15 12 9 18" />
                </svg> -->
              </div>
            </li>
            </router-link>
          </div>

          <!-- dropdown -->

          <div v-if="show_title">
            <div v-show="link.view" class="">
              <div v-for="(list,i) in link.down_list" :key="i" @click="update_down_click(i)">
                <router-link
                  tag="li" custom v-slot="{ navigate }"
                  :to="list.url"
                  :class="{'active_drop_link': list.dview}"
                  active-class="active_drop_link"
                  class="drop_down justify-content-flex-start d-flex align-items-center list-group-item-action pointer w-100"
                  > 
                  <li @click="navigate" role="link" class="forSpan">
                    <span class="m-0 p-0 pl-2 d-flex" style="font-size:14px;">
                      <div class="icon_div ml-4">
                      <mdb-icon :icon="list.icon" :style="{color: link.color}"  class="mr-3 icon_color"/>
                    </div>
                      {{list.title}}</span>
                  </li>
                </router-link>
              </div>
            </div>
          </div>

        </div>

        <div class="contents">
          <div class="log_out">
            <div :class="{'img-show': show_title, 'img-hide': !show_title }"> 
                <i class='bx bx-log-out'></i>
            </div>
            <div v-if="show_title" class="title">
                <h2>Log Out</h2>
            </div>
              
          </div>
        </div>
      </div>
      <div class="main bg-white" >
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  import { mdbIcon } from 'mdbvue';
  // import { ref } from 'vue';


  export default {
    components: {
      mdbIcon,
    },
    mounted() {
      this.show_title = localStorage.sidebar;
      console.log(this.show_title)
      console.log(localStorage.sidebar)
      this.name = localStorage.Name;
      for (let j = 0; j < this.links.length; j++) {
        if(this.links[j].url == this.$route.fullPath){
          this.links[j].view = true;
          return
        }else{
          if(this.links[j].down_list.length > 0){
            for (let k = 0; k < this.links[j].down_list.length; k++){
              if(this.links[j].down_list[k].url == this.$route.fullPath){
                this.links[j].down_list[k].dview = true;
                this.links[j].view = true;
                this.indexMain = j;
                return
              }
            }
          }
        }
      }
    },
    data() {
      return {
        name: 'sidebar',
        show_title: localStorage.sidebar,
        indexMain: -1,
        links: [

            // ............... for Market ....................
          
            { title: 'События', icon: 'grip-horizontal', url: '/sobity', view: false, color: '#354B9C', 
              down_list:[]
            },
            { title: "Учасники", icon: 'user', url: '/users', view: false, color: '#354B9C', down_list:[
              
            ] },
            { title: 'Шаблон', icon: 'align-left', url: '/shablon', view: false, color: '#354B9C', down_list:[] },
            
            { title: 'Настройки', icon: 'cog', url: '/settings', view: false, color: '#354B9C', down_list:[
                // { title: "", url: '/reportproduct', dview: false, color: 'rgb(7, 224, 7)', down_list:[] }
               
            ] },
            
            // { title: 'Приход', icon: 'clipboard', url: '#', view: false, color: '#354B9C', down_list:[
            //    { title: "Покупка", icon: 'box', url: '#', dview: false, color: '#354B9C', down_list:[] },
            // ] },


            
            

        ],
      }
    },
    created() {
        this.$root.$refs.sidebar = this;
    },
    methods: {
      update_down: function (i) {
        this.indexMain = i;
        for (let j = 0; j < this.links.length; j++) {
          if (j !== i) {
            this.links[j].view = false
            if(this.links[j].down_list.length > 0) {
              for (let k = 0; k < this.links[j].down_list.length; k++) {
                  this.links[j].down_list[k].dview = false
              }
            }
          }
        }
        this.links[i].view = true
      },
      update_down_click: function (i) {
        for (let j = 0; j < this.links[this.indexMain].down_list.length; j++) {
          if (j !== i) {
            this.links[this.indexMain].down_list[j].dview = false
          }
        }
        this.links[this.indexMain].down_list[i].dview = true
      },
      backMenu(a){
        this.show_title = a
        localStorage.sidebar = this.show_title
        console.log(localStorage.sidebar)

      }
    }
  };
</script>

<style  lang="scss">
$blackk: #363738;
$dropdown-box-shadoww: 0 5px 10px 0 rgba($blackk, 0.4) !default;
*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{

}
.forSpan span{
  color: #00abfb;
  font-size: 25px;

}
img{
    border: 3px solid rgba(113, 184, 255, 0.2);
}

// Denamic Class one
.img-hide{
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    font-size: 30px;
    color: #676D7C;
  }
}
// Denamic Class two
.img-show{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  i{
    font-size: 25px;
    color: #676D7C;

  }

}
.main_boxx{
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftmenu{
  width: 280px;
  position: sticky;
  top: 0px;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 2px 0px;
  background: #F8F7FF;
  font-size: 14px;
}
.backleftmenu{
  width: 75px;
  position: sticky;
  top: 0px;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 2px 10px;
  background: #F8F7FF;
  font-size: 20px;
}
.job-name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main{
  width: 100%;
}
.allContent{
  min-height: 100vh;
}
.active_link{
  background: #354B9C;
  p{
    color: #fff !important;
  }
  .ico{
    color: #fff !important;
  }
  .backico{
    color: #fff !important;
  }
}
.active_drop_link{
  background: rgba(131, 190, 250, 0.25);
  p{
    color: #fff;
  }
  .ico{
    color: #fff;
  }
}
.width1{
  width: 15% !important;

}
.width2{
  width: 100% !important;
  
}
.menuitem1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  width: 100%;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: $dropdown-box-shadoww;
  cursor: pointer;
  .ico{
    color: #676D7C;
  }

}
.menuitem1:hover{
  background: #354B9C;
  .backico{
    color: #fff !important;
  }
}
.menuitem{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin: 15px 0;
  border-radius: 15px;
  box-shadow: $dropdown-box-shadoww;

  p{
    color: #676D7C;
  }
}
.menuitem:hover{
  background: #354B9C;
  p{
    color: #fff;
  }
  .ico{
    color: #fff !important;
  }
}


.snipper{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.activetext{
  cursor: pointer;
  a{
    color: #fff;
  }
  i{
    color: #fff;
  }
}
.drop_down{
  color: black;
  padding: 5px 0;
  position: relative;
  justify-content: space-between;
  a{
    flex: 1;
    color: #fff;
    font-size: 13.4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  }
  &:hover{
    background: rgba(113, 184, 255, 0.1);
    a{
      color: #fff;
    }
    i{
      color: #fff;
    }
    transition: background-color 0.2s;
    color: black;
  }
}
.round{
  transform: rotate(90deg);
  transition: all 0.5s;
}
.back_round{
  transition: all 0.5s;
}
.ico{
  padding-right: 5px;
}

.leftdown{
  // border: 1px solid red;
  margin: 10px 15px;
  // padding: 2px;
}
.logo_chevron{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  .company_title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 16px;
    img{
      border: none;
      width: 180px

    }
  }
}

.backleftdown{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 12px;
  padding: 1px;
}
.contents{
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .log_out{
      padding-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .title{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h2{
          margin: 0;
          padding: 0px;
          padding-left: 15px;
          color: #676D7C;
          font-size: 20px;
        }
      }
    }

}
.Menyu_box{
    padding: 0px 16px;
}
.Menyu_box1{
    padding: 0px;
}
// .contents i{
//     color: red;
//     font-size: 20px;
// }
</style>